body {
    margin: 0;
    padding: 0;

  	font-family: "Yu Gothic UI", "sans serif";  

}


a {
	text-decoration: none;
	color: white;

}

#container{

}
.image-main {
   	max-width: 100%;
    max-height: 100vh;
    margin: left;
  	float: left;

}

#textbox {
	text-align: center;
	text-orientation: center;


}



h1 {
	color: white;
	margin-top: 8%;
	padding-left: 10%;
	font-size: 30pt;

}

h2 {
	color: white;
	font-size: 30pt;
	text-align: center
}

p {
	text-align: center;
	color: grey;
	margin-top: 1%;
	font-size: 16pt;
	padding-bottom: 5%;
}

#about {
	background: rgb(223,167,144);
	background: linear-gradient(90deg, rgba(223,167,144,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

.aboutme {
	margin-top: 5%;

}

.picofme {
  width: 400px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  float: left;
  margin-left: 40%;

}

#textofme {
	width: 50%;
	margin-left: 100%;
	margin-top: 10%;

}

#projects {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,170,147,1) 50%, rgba(255,255,255,1) 100%);	
}

/*.projectgrid {
	position: absolute;
	left: 50%;
	top: 300px;	
}*/
#projectgrid {
	margin-top: 10%;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 10%;
  padding-top: 4%;

}

.projectgrid {
	position: absolute;
	left: 50%;
	top: 300px;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.texttitle {
	background-color: #D6B2AD;
	color: white;
	font-size: 16px;
	padding: 16px 32px;

}

.textdesc {
	background-color: #D6B2AD;
	color: white;
	font-size: 12px;
	padding: 16px 32px;

}

.textcourse {
	background-color: #D6B2AD;
	color: white;
	font-size: 12px;
	padding: 16px 32px;

}


#contact {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,170,147,1) 100%, rgba(255,255,255,1) 100%);
}

.contactme {
	margin-top: 5%;
	font-size: 30pt;
}

h3 {
	font-size: 20pt;

}

#contact_icons {
	display: flex;	
	justify-content: center;
}

#contact_icons img {
	margin: 5px;

}

.column {
  float: left;
  width: 30%;
  padding: 5px;
  margin-left: 2%;
}

.courseimage {
	width: 100%;
	position: center;
	padding: 10%;

}

.coursevideo {
	width: 100%;
	position: center;

}