html,body {
	font-family: "Yu Gothic UI", "sans serif"; 
	font-family: "Quicksand";
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-y: scroll;
	overflow: initial !important;
  	scroll-behavior: smooth;	
	/*background-color: #f3f3f3;*/
  	transition: background-color 1s ease;
  	background-color: #E4DACD;
}

.panel {
  /* min height incase content is higher than window height */
	  min-height: 60vw;

}

.color-lightgrey{
	background-color: #E4DACD;
}

.color-blue {
  background-color: #2C2C2C;
}

.color-orange {
	background-color: #E4DACD;
}

h1{
	font-size: 16pt;
}

h2 {
	text-align: center;
	font-size: 30pt;
	letter-spacing: 0.3em;	
	/*padding-top: 3vw;*/
	color: white;
	margin-bottom: 3vw;
}

h3 {
	font-weight: bold;
	color: black;
	letter-spacing: 0.3em;
	padding-left: 5px;
	font-size: 5vw;
	font-size: calc(20px + 32 * ((100vw - 320px) / 680));
	font-family: "Quicksand";
}

/* ==================================== HOME ============================================= */

header {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
	padding-bottom: 3vw;
}

.colorblock {
	background: transparent;
	padding-bottom: 4em;
	display: grid;
	grid-template-columns: 52vw 1fr;

}

.picofme {
	position: relative;
	width: 40vw;
	height: 40vw;
	margin-left: 5vw;
	margin-top: 4em;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

#homeabout {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 42%;
	padding-bottom: 3%;
	font-family: "Calibri";


}

@media only screen and (max-width: 1290px) {
	#homeabout{
		padding-top: 0px;
	}
}

@media only screen and (max-width: 600px) {
	.textofme{
	}
}


.logo{
	position: relative;
	max-width: 40vw;
	max-height: 25vw;
	margin-top: 10%;
}

.textofme {
	padding-right: 4vw;

}

nav span {
	text-decoration: none;
	color: black;
}

#skillsnav a:hover {
	font-size: 14pt;
}

#projectsnav a:hover{
	font-size: 14pt;
}

#skillsnav {
	height: auto;
	text-align: center;	
	font-size: 12pt;
	font-weight: bold;
}

#projectsnav {
	height: auto;
	text-align: center;	
	font-size: 12pt;
	font-weight: bold;
}

.arrow{
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);	
	transition: width 2s;
}

.arrow:hover{
	top: 5%;
}

/* ==================================== NAV ============================================= */

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: -100px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 5;
}
/* Style the navbar links */
#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 14pt;
  background-color: rgba(243,243,243,0.8);
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen and (max-width: 600px) {
	#navbar {
		padding-top: 2px;
	}
}

/* ==================================== SKILLS ============================================= */

#skillspart {
	padding-bottom: 3vw;
	background-color: #A99893;
	height: 100%;
}

#skillspart p {
	color: white;
	font-size: calc(10px + 6 * ((100vw - 320px) / 680));
	padding-right: 3%;
	padding-left: 3%;
	text-align: center;
	background-color: #2C2C2C;
	padding: 8px;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	#skillspart h3 {
		width: 100%;

	}
}


#keywords{
	float: left;
	padding-right: 5%;
}

#programming {
	float: right;
	padding-left: 1%;
}
#programming p {
	float: right;

}

#languages {
	float: left;
	padding-right: 5%;
}

#designskills {
	float: right;
}

#designskills p {
	float: right;
 
}

#audiospec{
	float: left;

}

/* ==================================== PROJECTS ============================================= */
h4 {
	font-size: 30pt;
}

#projectpart {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-column-gap: 130px;
	grid-row-gap: 30px;
	max-width: 90%;
  	margin: 0 auto 30px;
}

.image {
	height: auto;
	width: 100%;
	object-fit: cover;	
}

.project h3{
 	position: relative;
  	/*top: 300px;
	left: 30px;*/
	top: -20rem;
	margin-left: -5%;
	padding: 3px 10px 3px 10px;
	background-color: #2C2C2C;
	color: white;
	opacity: 85%;
	letter-spacing: 0.3em;
	/*font-size: 1.55vw;*/
	font-size: 16pt;
	max-width: 70%;
	filter: alpha(opacity=10);
	font-weight: normal;
}


@media only screen and (max-width: 873px) {
	.project h3 {
		display: none;

	}
}

@media screen and (min-width: 873px) {
	.myBtn_mob{
		display: none;
	}
}

@media screen and (max-width: 873px) {
	.myBtn_web {
		display: none;

  }
}




button {
	background-color: inherit;
	border: none;

}

.myBtn_web {
  	position: relative;
	left: 50%;
	top: -17rem;
	transform: translate(-50%, -50%);

}

.textdesc {
	/*background-color: #ddc4c4;*/
	background-color: #efefef;
	color: black;
	font-size: 14px;
	padding: 16px 32px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: inline;
	vertical-align: middle;
	display: flex;

}


.textcourse {
	/*background-color: #ada0a0;*/
	background-color: #5d5d5d;
	color: white;
	font-size: 12px;
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: inline;
	/*vertical-align: flex;*/
	padding: 2px;

}

.myBtn_mob {
	background-color: #2C2C2C;
  	position: relative;
	left: 30vw;
	width: 100%;
	padding-left: 5%;
	top: -65vw;
	transform: translate(-50%, -50%);	
	opacity: 90%;
	color: white;
	padding-bottom: 0px;
}

.myBtn_mob span{
	opacity: 100%;

}

@media only screen and (max-width: 600px) {
	.myBtn_web {
		display: table-cell;

	}
}


.myBtn_web {
	display: none;

}

@media only screen and (min-width: 600px) {
	.project:hover .myBtn_web {
	display: initial;
	opacity: 1;
	}
}

.project:hover .image  {
  opacity: 0.3;
}



/*.image:hover .myBtn_web {
  opacity: 0;
  display: block;
}*/

/*.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: "Quicksand";

}*/


@media screen and (min-width: 600px) {
  div.textcoursesmall  {
    display: none;

  }
}






@media only screen and (max-width: 600px) {
	iframe {
		width: 100%;

	}
}

.videoandtitle h3 {
	margin-right: auto;
	margin-left: auto;
	font-size: 30pt;
	color: black;
	font-weight: normal;
}



.videoandtitle iframe {
	margin-left: auto;
	margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.videoandtitle p {
	padding-left: 70px;
	padding-top: 70px;
	padding-right: 10px;
	font-family: "Calibri";
}

@media only screen and (max-width: 600px) {
	.videoandtitle p {
		padding-left: 5px;

	}
}

.videoandtitle img {
	 width: auto;
	 height: auto;
}

@media only screen and (max-width: 600px) {
	.videoandtitle img {
		max-width: 100%;
		max-height: 100%;

	}
}




/* -------------- modal ------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: grey; /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #f3f3f3;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

@media only screen and (max-width: 600px) {
	.modal-content {
		width: 93%;
		margin-left: 2px;
		margin-right: auto;

	}
}


@media only screen and (max-width: 600px) {
	.modal-content p{
		margin-top: auto;

	}
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* -------- slideshow ----------- */

 /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: rgba(255, 250, 250,0.6);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.mySlides {
  display:none;
}
.active-slide {
  display:block;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  /*margin: 0 2px;*/
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;  
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img {
	vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
}
/* Caption text */
.bildtext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.3)
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev, .next,.text {font-size: 11px}
}



/* ==================================== FOOTER ============================================= */

footer {
	width: auto;
	background-color: #f3f3f3; 
	/*position: all;*/
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: 5%;
}

#rights {
	font-size: 9pt;
	color: black;
	text-align: center;
	margin-top: 100px;	
	padding-bottom: 15px;

}

footer p {
	font-size: 14pt;
	color: black;
	text-align: center;
	padding-top: 5px;

}

#contacticons {
	display: flex;
	justify-content: center;
}


#mail {
	margin-right: 10px;
	margin-left: 10px;
}


@media only screen and (max-width: 600px) {
	#linkedin a {
		margin-left: 50%;

	}
}

@media only screen and (max-width: 600px) {
	#mail a {
		margin-left: 50%;

	}
}
