body {
    /*background: #f9f3f3;*/
  	font-family: "Yu Gothic UI", "sans serif"; 
  	font-family: "Quicksand";
	overflow-y: scroll;
	/*background-color: #D2CDCD;*/
	/*background-color: #E7E4E4;*/
	/*background-color: #fbfbfb;*/
	background-color: #f3f3f3;


	margin: 0px;
	padding: 0px;

}

@media only screen and (max-width: 600px) {
	.bakgrundsbild {
		width: 100%;

	}
}



a {
	text-decoration: none;
	color: white;
    text-decoration: none;

}

a:hover {
     color:#c9c9c9;
     text-decoration:none; 
     cursor:pointer;  
}

#boxwelcome {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25%;

	left: 0px;
	top: 300px;
	/*background: rgba(196, 196, 196, 0.71);*/	

}


/*#boxwelcome h1 {
	text-align: center;
	font-family: Red Hat Display;
	position: absolute;
	color: white;
}*/

@media only screen and (max-width: 600px) {
	#boxwelcome {
		width: 100%;
		top: 100px;

	}
}

@media only screen and (min-width: 800px) {
	#project p {
		position: relative;
		margin-left: auto;
		margin-right: auto;

		left: 0px;
		top: 240px;

	}
}

.namnlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
	.namnlogo {
		width: 100%;
		margin-top: -50px;

	}
}

h2 {
	padding-top: 40px;
	text-align: center;
	letter-spacing: 0.3em;

	font-family: Quicksand;
}

@media only screen and (max-width: 600px) {
	h2 {
		padding-top: 0;
		margin-left: 25px;
		color: grey;

	}
}

#frontpage {
	position: absolute;
	width: 100%;
	height: 150px;
	left: 0px;
	top: 0px;
	padding-top: 45%;
	/*padding-top: 600px;*/
}

@media only screen and (max-width: 600px) {
	#frontpage {
		padding-top: 90%;

	}
}


/* ===================== ABOUT ===================== */
#boxlocation {
	height: 150px;

	background: rgba(196, 196, 196, 0.71);
	background-image: url("bakgrund2.png");
	background-size: cover;

}

@media only screen and (max-width: 600px) {
	#boxlocation{
		height: 250px;


	}
}

.namnlogo {
	margin-top: -2%;
}

#namnlogohela {
	height: 50px;
	padding-left: 20px;
}

.aboutme {
	margin-top: 10%;


}

#textofme {
	width: 60%;
	font-size: 12pt;
	float: right;
}

@media only screen and (max-width: 800px) {
	#textofme {
/*		margin-top: 40px;
		margin-left: 3px;*/
		float: left;
		margin-left: 50px;
		width: 80%;
		font-size: 12pt;

	}
}

.picofme {
  width: 400px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  float: left;

}

@media only screen and (max-width: 600px) {
	.picofme{
		border-radius: 50%;
		margin-top: 40px;
		margin-right: 50px;
		width: 80%;
		margin-left: 40px;

	}
}


/* ===================== PROJECTS ===================== */

#projectgrid {
	margin-top: 10%;
}



.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 70px;
  padding-top: 4%;
  margin-right: auto;
  margin-left: auto;  

}

@media only screen and (max-width: 600px) {
	.image {
		width: 70%;
		height: 10%;
		margin-right: auto;
		margin-left: 10%;
		border-radius: 35px;


	}
}

/*#middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}*/

#project p {
  position: absolute;
  top: 80px;
  left: 30px;
  padding-left: 10px;
  /*margin-left: 30px;
  padding-left: 10px;*/
  color: white;
  background-color: grey;
  opacity: 85%;
  letter-spacing: 0.3em;
  font-size: 1.55vw;
  max-width: 70%;
  filter: alpha(opacity=10);
}


@media only screen and (max-width: 600px) {
	#project p {
		display: none;

	}
}

.myBtn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 600px) {
	.myBtn {
		display: none;

	}
}


.myBtn1 {
	position: absolute;
	top: 80px;
	padding-left: 10px;
	color: white;
	background-color: grey;
	opacity: 80%;
	letter-spacing: 0.2em;
	max-width: 60%;
	filter: alpha(opacity=10);
}

button {
	background-color: inherit;
	border: none;

}

.container:hover .image {
  opacity: 0.3;
}

/*.container:hover #middle {
  opacity: 1;
}*/

.container:hover .myBtn {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: "Quicksand";

}

/*.texttitle {
	background-color: #D6B2AD;
	color: white;
	font-size: 16px;
	padding: 16px 32px;

}*/

.textdesc {
	/*background-color: #ddc4c4;*/
	background-color: #efefef;
	color: black;
	font-size: 14px;
	padding: 16px 32px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



.textcourse {
	/*background-color: #ada0a0;*/
	background-color: #5d5d5d;
	color: white;
	font-size: 12px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


@media screen and (min-width: 600px) {
  div.textcoursesmall  {
    display: none;

  }
}

@media screen and (min-width: 600px) {
  div.textcoursesmall {
    display: none;

  }
}

@media only screen and (max-width: 600px) {
	iframe {
		width: 100%;

	}
}

#videoandtitle h3 {
	margin-right: auto;
	margin-left: auto;
	font-size: 30pt;
}



#videoandtitle iframe {
	margin-left: auto;
	margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

#videoandtitle p {
	padding-left: 70px;
	padding-top: 70px;
}

@media only screen and (max-width: 600px) {
	#videoandtitle p {
		padding-left: 5px;

	}
}

#videoandtitle img {
	 width: auto;
	 height: auto;
}

@media only screen and (max-width: 600px) {
	#videoandtitle img {
		max-width: 100%;
		max-height: 100%;

	}
}

/* -------------- modal ------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: grey; /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

@media only screen and (max-width: 600px) {
	.modal-content {
		width: 93%;
		margin-left: 2px;
		margin-right: auto;

	}
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* -------- slideshow ----------- */
'
 /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.mySlides {
  display:none;
}
.active-slide {
  display:block;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  /*margin: 0 2px;*/
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;  
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img {
	vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
}
/* Caption text */
.bildtext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.3)
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev, .next,.text {font-size: 11px}
}


/*------------------------*/



@media only screen and (min-width: 600px) {
  hr {
  	display: none;
  }
}
#skillsboxes {
	margin-top: 100px;
}


#leftbox { 
    float:left;  
    /*background:#E7E4E4;*/
    background: #f3f3f3; 
    width:30%; 
    height:280px; 
  	margin-left: 5%; 

} 

@media only screen and (max-width: 600px) {
  #leftbox {
  	width: 100%;
  	margin-left: 0px;

  }
}

#middlebox{ 
    float:left;  
    /*background:#E7E4E4;*/
    background: #f3f3f3; 
    width:30%; 
    height:280px; 
    background-size: cover;
} 

@media only screen and (max-width: 600px) {
  #middlebox {
  	width: 100%;
  }
}

#rightbox{ 
    float:right; 
    /*background:#E7E4E4;*/
    background: #f3f3f3; 
    width:30%; 
    height:280px; 
    margin-: 5%;
  	margin-right: 5%;

} 

@media only screen and (max-width: 600px) {
  #rightbox {
  	width: 100%;
  	margin-right: 0px;

  }
}


#skillsboxes h2 {
	color: grey;
	letter-spacing: 0.3em;
	font-size: 16pt;
	margin-left: 20px;
	margin-top: -10px;
	filter: alpha(opacity=10);	
	text-align: center;	

} 

@media only screen and (max-width: 600px) {
  #skillsboxes h2 {
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	margin-top: 10px;
  }
}


#skillsboxes p {
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;

	text-align: center;
}


.imageskills {
	float:left;
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  padding-top: 4%;
  margin-right: auto;
  margin-left: auto;

}

/* ===================== FOOTER ===================== */

footer {
	width: auto;
	background-color: white; 
	margin-top: 1000px;
	position: all;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}

#rights {
	font-size: 9pt;
	color: black;
	text-align: center;
	padding-top: 60px;	
	padding-bottom: 5px;
}
footer p {
	font-size: 9pt;
	color: black;
	text-align: center;
	padding-top: 5px;

}

#linkedin a {
	margin-left: 100%;
}

#mail a {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px) {
	#linkedin a {
		margin-left: 50%;

	}
}

@media only screen and (max-width: 600px) {
	#mail a {
		margin-left: 50%;

	}
}